/**Work Page**/

body,
html {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/*Navigation*/



/**Hero**/
.work-project-etc {
    height: 375px;
    background:
    url(../img/thumbnailetc.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 56px;
}

.work-project-vbq {
    height: 375px;
    background:
    url(../img/ThumbnailVBQ.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 56px;
}

.work-project-ppr {
    height: 375px;
    background:
    url(../img/ThumbnailPPR.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 56px;
}

.work-project-pst {
    height: 375px;
    background:
    url(../img/thumbnailpst.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 56px;
}

.work-project-flex {
    height: 375px;
    background:
    url(../img/thumbnailflex.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 56px;
}

.work-project-ao {
    height: 375px;
    background:
    url(../img/thumbnailao.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 56px;
}

.work-project-process {
    height: 375px;
    background:
    url(../img/hero.png) no-repeat center center;
    background-size: cover;
}

/**Page**/

.project-title {
    margin: 56px 0 56px 0;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

/*.project-subtitle {
    margin-bottom: 56px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}*/

.project-description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.project-section-title {
    margin: 24px 0 24px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.project-section-content {
    padding-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    line-height: 1.875;
    font-weight: 400;
    color: #1B262C;
}

.project-section-process {
    position: relative;
    padding: 32px 0 32px 0;
    margin: 40px 0 40px 0;
    color: #212529;
    background: #F1F3F4;
}

./*section-process {
    position: relative;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
} */


/**
  Skip to Outcome Buttons
**/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid ##C19898;
    color: ##C19898;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #fff;
    background-color: ##C19898;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    color: #fff;
    border-color: #fff;
    background-color: ##C19898;
    box-shadow: none;
}

.btn {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}


.week {
	margin-right: 0;
	margin-left: 0;
    border-top: 1px solid #e7e7e7;
}

.section-project1 {
    padding: 10px 0;
    /**border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;**/    
}

.section-project2 {
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

                               /**My Work Pages**/


.deliverable {
    padding: 5px 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thumbnail:hover {
    position:relative;
    /**
    top:-25px;
    left:-35px;**/
    width:1000px;
    height:auto;
    display:block;
    z-index:999;
}



