/**Work Page**/

/**Hero**/

.work-project-vbq {
    height: 500px;
    background:
    url(../img/thumbnailvbq.jpg) no-repeat center center;
    background-size: cover;
}

.work-project-ppr {
    height: 500px;
    background:
    url(../img/thumbnailppr.jpg) no-repeat center center;
    background-size: cover;
}


/**Page**/

.project-title {
    margin-top: 56px;
    margin-bottom: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
}

.project-subtitle {
    margin-bottom: 56px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.project-description,{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.project-section-title {
    margin-top: 56px;
    margin-bottom: 32px;
    font-family: 'Lato', sans-serif;
    font-size: 1.75em;
    font-weight: 400;
}

.project-section-content {
    padding-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    line-height: 1.875;
    font-weight: 400;
    color: #1B262C;
}



/**
  Skip to Outcome Buttons
**/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid ##C19898;
    color: ##C19898;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #fff;
    background-color: ##C19898;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    color: #fff;
    border-color: #fff;
    background-color: ##C19898;
    box-shadow: none;
}

.btn {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}


.week {
	margin-right: 0;
	margin-left: 0;
    border-top: 1px solid #e7e7e7;
}

.section-project1 {
    padding: 10px 0;
    /**border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;**/    
}

.section-project2 {
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

                               /**My Work Pages**/


.deliverable {
    padding: 5px 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thumbnail:hover {
    position:relative;
    /**
    top:-25px;
    left:-35px;**/
    width:1000px;
    height:auto;
    display:block;
    z-index:999;
}



